@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Add Roles";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2>Create a new role</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name" class="form-label">Role Name</label>
                <input asp-for="Name" class="form-control" /> 
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary my-2">Create</button>
        </form>
    </div>
</div>
