html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-nav {
    background-color: hsl(200, 100%, 85%);
    margin: 0 0.25rem;
    border-radius: 0.25rem;
}

.btn-nav:hover {
    background-color: hsl(200, 100%, 75%);
}

.btn-create {
    background-color: hsl(123, 100%, 75%);
    margin: 0;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

.btn-create:hover {
    background-color: hsl(123, 100%, 60%);
    color: black;
}

.btn-edit {
    background-color: hsl(214, 100%, 75%);
    color: black;
    margin: 0;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

.btn-edit:hover {
    background-color: hsl(214, 100%, 60%);
    color: black;
}

.btn-detail {
    background-color: hsl(49, 100%, 65%);
    color: black;
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

.btn-detail:hover {
    background-color: hsl(49, 100%, 50%);
    color: black;
}

.btn-delete {
    background-color: hsl(0, 100%, 75%);
    color: black;
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

.btn-delete:hover {
    background-color: hsl(0, 100%, 60%);
    color: black;
}